<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#" class="header-icon-link">
        <svg class="film-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film-logo"></use>
        </svg>
      </a>
      <ul class="headers-button">
        <li class="headers-button__item">
          <button class="headers-button__btn current-btn">Home</button>
        </li>
        <li class="headers-button__item">
          <button class="headers-button__btn">my library</button>
        </li>
      </ul>
    </nav>
    <form name="searchForm" class="search-form">
      <input
        type="text"
        name="searchInput"
        class="search-input"
        autofocus="true"
        placeholder="Search films"
      />
      <svg class="search-form__icon" width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </form>
  </div>
</header>
<main class="main-content">
  <div class="container js-films-container"></div>
</main>
<footer class="footer">
  <div class="container"></div>
</footer>
