<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#close-icon"></use>
      </svg>
    </button>
    <div class="modal__movie-container">
      <!-- <div class="modal__movie-poster-container">
        <img
          src="./images/no-poster.png"
          alt="Movie poster"
          class="modal__poster"
        />
      </div>
      <div class="modal__movie-description-container">
        <h2 class="modal__movie-title">Title</h2>
        <ul class="modal__movie-list">
          <li class="modal__movie-item">
            <p class="modal__movie-item-right">Vote / Votes</p>
            <p class="modal__movie-item-left">some text</p>
          </li>
          <li class="modal__movie-item">
            <p class="modal__movie-item-right">Popularity</p>
            <p class="modal__movie-item-left">some text</p>
          </li>
          <li class="modal__movie-item">
            <p class="modal__movie-item-right">Original Title</p>
            <p class="modal__movie-item-left modal__movie-left-title">
              some text
            </p>
          </li>
          <li class="modal__movie-item">
            <p class="modal__movie-item-right">Genre</p>
            <p class="modal__movie-item-left">some text</p>
          </li>
          <li class="modal__movie-item">
            <p class="modal__movie-item-right">Trailer</p>
            <p class="modal__movie-item-left">some text</p>
          </li>
        </ul>
        <p class="modal__about-title">ABOUT</p>
        <p class="modal-about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          obcaecati doloribus vitae sit delectus cumque.
        </p>
        <div class="modal__buttons__container">
          <button class="modal__button-watched">add to watched</button>
          <button class="modal__button-queue">add to queue</button>
        </div>
      </div>-->
    </div>
  </div>
</div>
