<section class="splide">
  <div class="splide__track">
    <div class="splide__list">
      <div class="splide__slide">Slide 01</div>
      <div class="splide__slide">Slide 02</div>
      <div class="splide__slide">Slide 03</div>
      <div class="splide__slide">Slide 04</div>
      <div class="splide__slide">Slide 05</div>
      <div class="splide__slide">Slide 06</div>
      <div class="splide__slide">Slide 07</div>
      <div class="splide__slide">Slide 08</div>
      <div class="splide__slide">Slide 09</div>
      <div class="splide__slide">Slide 10</div>
      <div class="splide__slide">Slide 11</div>
      <div class="splide__slide">Slide 12</div>
      <div class="splide__slide">Slide 13</div>
      <div class="splide__slide">Slide 14</div>
      <div class="splide__slide">Slide 15</div>
      <div class="splide__slide">Slide 16</div>
      <div class="splide__slide">Slide 17</div>
      <div class="splide__slide">Slide 18</div>
      <div class="splide__slide">Slide 19</div>
      <div class="splide__slide">Slide 20</div>
    </div>
  </div>
</section>
